* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  min-height: 60vh;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 3px solid transparent;
  padding: 10px 0;
}
.cards-container .card {
  position: relative;
  width: calc(100% / 3);
  border: 3px solid transparent;
  border-bottom: none;
}
.cards-container .card img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}
.cards-container .card .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.cards-container .card .layer a {
  display: inline-block;
}
.cards-container .card:hover .layer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header #logo {
  margin: 20px 0;
}
header #menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header #menu ul a {
  display: inline-block;
  padding: 20px;
  color: black;
  font-size: 21px;
  font-weight: bold;
}
header #menu ul a:hover {
  background: #b3e5fc;
  cursor: pointer;
}

footer .container {
  padding: 20px 0;
  display: flex;
  align-items: center;
}
footer .container .left {
  width: calc(100% / 3);
}
footer .container .left img {
  width: 280px;
}
footer .container .left p {
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 14px;
  padding-top: 3px;
}
footer .container .right {
  display: flex;
  flex-wrap: wrap;
  width: calc((100% / 3) * 2);
}
footer .container .right .footer-card {
  width: calc(100% / 2);
  padding: 20px;
}

main {
  background-image: url("/images/fondo-pag-speciali.jpg");
  padding: 40px 0;
}
main #products h1 {
  text-transform: uppercase;
  padding-left: 3px;
  font-size: 23.8px;
}