main{
    background-image: url('/images/fondo-pag-speciali.jpg');
    padding: $spacing * 2 0;
    #products{
        h1{
            text-transform: uppercase;
            padding-left: 3px;
            font-size: $font_size * 1.7;
        }
    }
}
